.block {
    margin: 0 auto 1em;
    padding: 1em;
    max-width: 40em;
    width: 100%;
    background-color: rgba($color-black, 0.8);
    animation: fadeIn 0.25s ease-in;
    @media only screen and (min-width: 1224px) {
        margin: 0 auto 2em;
        padding: 2em;
    }
}

.block__header {
    margin-bottom: 1em;
}

.block__title {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 700;
    font-size: $font-size-600;
}
