//Colors
$color-white: rgb(255, 255, 255) !default;
$color-black: rgb(10, 0, 0) !default;
$color-red: rgb(196, 0, 0) !default;
//Logo
$logo-size: 300px;
//Font-sizes
$font-size-70: 10px !default;
$font-size-75: 11px !default;
$font-size-80: 12px !default;
$font-size-90: 14px !default;
$font-size-100: 16px !default;
$font-size-200: 18px !default;
$font-size-250: 20px !default;
$font-size-300: 21px !default;
$font-size-400: 24px !default;
$font-size-500: 30px !default;
$font-size-600: 36px !default;
$font-size-650: 39px !default;
$font-size-700: 42px !default;
$font-size-800: 54px !default;
$font-size-900: 66px !default;
//Line-heights
$line-height-20: 1em !default;
$line-height-30: 1.0625em !default;
$line-height-40: 1.125em !default;
$line-height-50: 1.1875em !default;
$line-height-60: 1.25em !default;
$line-height-70: 1.3125em !default;
$line-height-80: 1.375em !default;
$line-height-90: 1.4375em !default;
$line-height-100: 1.5em !default;
$line-height-200: 1.5625em !default;
$line-height-300: 1.625em !default;
$line-height-400: 1.6875em !default;
$line-height-500: 1.75em !default;
$line-height-600: 1.8125em !default;
$line-height-700: 1.875em !default;
$line-height-800: 1.9375em !default;
$line-height-900: 2em !default;
//Screen sizes
$small-screen: 768px !default;
$medium-screen: 1024px !default;
$large-screen: 1224px !default;
$xlarge-screen: 1824px !default;
